<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>ourproject</title>
    </head>
    <body>
        <div class="container">
            <h1>title</h1>
            <p class="paragraph", id= "p1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum aspernatur voluptate maxime molestiae adipisci! Distinctio reiciendis, sint laborum a cum repellendus ab consectetur ipsa error architecto? Debitis error ipsum nisi?
            </p>
            <button class="button", id="bt1"> record</button>
        </div>
    </body>
</html>