<html> 
    <head> 
        <style>
            div#hhh {
                font-size: 30pt;
                font-style: "Lucida Console";
                text-align: center;
                color: royalblue;
                background-color: salmon;
            }
        </style>
        <style>
            div#caonima {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="outer">
            <div class="middle">
                <div id = "hhh" > Welcome to </div>
                <br>
                <hr>
                <div id = "caonima" > our project </div>
            </div>
        </div>
    </body>
</html>